{% extends 'layout.html' %}
{% load static %}


{% block content %}

    <div class="signup-page-container">
      <form method="post" action="/signup">
           <div class="form-group row mb-4">
                <div class="col-lg-12">
                    <h4 class="mlm-text-color">Formular 50 - Signup</h4>
                </div>
            </div>

           <div class="from-group row">
                <div class="col-lg-12 error-msg">
                    {% if error %}
                        {{ error.message }}
                    {% endif %}
                </div>
            </div>

        {% csrf_token %}

       <div class="form-group row">

              <div class="col-lg-12">
                   {% if email %}
                        <input type="hidden" name="referer_id" value="{{ referer_id }}">
                        <input type="email" class="form-control" placeholder="Email Address" name="email" value="{{ email }}" required readonly>

                   {%  else %}
                        <input type="email" class="form-control" placeholder="Email Address" name="email" required>
                   {% endif %}

                </div>
       </div>
          <div class="form-group row">

              <div class="col-lg-6">

                    <input type="text" class="form-control" placeholder="First Name" name="first_name" required>
                </div>

               <div class="col-lg-6">

                    <input type="texxt" class="form-control" placeholder="Last Name" name="last_name" required>
                </div>

            </div>

             <div class="form-group row">
                <div class="col-lg-6">
                    <input type="password" class="form-control" placeholder="Password" name="password1" required>
                </div>
                 <div class="col-lg-6">
                    <input type="password" class="form-control" placeholder="Confirm Password" name="password2" required>
                </div>
            </div>

          <div class="col-12  d-flex align-items-center justify-content-center mt-2 mb-2">
                    <input type="submit" class="btn mlm-bg-color mlm-btn" value="Signup">
                </div>

                 <div class="col-lg-12  d-flex align-items-center justify-content-center mt-3">
                     <a href="/login" class="mlm-text-color">Already have account? Signin</a>
                </div>
          </div>




      </form>


    </div>



{% endblock %}