{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Formula 50</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%  static 'css/bootstrap.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static  'css/jquery.dataTables.css' %}">
    <script type="text/javascript" charset="utf8" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="{% static 'treant/Treant.css' %}">

    <link href="{%  static 'css/select2.min.css' %}" rel="stylesheet" />
    <script src="{% static 'js/select2.min.js' %}"></script>

</head>
<body>

    {% block content %}


    {% endblock %}


    <script src="{%  static 'treant/vendor/raphael.js' %}"></script>
    <script src="{%  static 'treant/Treant.js' %}"></script>
</body>
</html>